<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="xyyyBLJXKH.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="pathnetfsjk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <xyyyBLJXKH.Properties.Settings>
            <setting name="xyyyBLJXKH_xyyyWeb1_DHCC_Ris_XiangYaOne" serializeAs="String">
                <value>http://192.168.2.64/csp/dhcens/DHC.Ris.XiangYaOne.BS.Web.cls</value>
            </setting>
        </xyyyBLJXKH.Properties.Settings>
        <pathnetfsjk.Properties.Settings>
            <setting name="pathnetfsjk_xyyyWeb_DHC_Pis_XiangYaOne" serializeAs="String">
                <value>http://192.168.2.116:57772/csp/dhcens/DHC.Pis.XiangYaOne.BS.Web.cls</value>
            </setting>
        </pathnetfsjk.Properties.Settings>
    </applicationSettings>
</configuration>